@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?83786237');
      src: url('../fonts/fontello.eot?83786237#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?83786237') format('woff'),
           url('../fonts/fontello.ttf?83786237') format('truetype'),
           url('../fonts/fontello.svg?83786237#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }