/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$icon-about-name: 'icon-about'
$icon-about-x: 0px
$icon-about-y: 23px
$icon-about-offset-x: 0px
$icon-about-offset-y: -23px
$icon-about-width: 25px
$icon-about-height: 24px
$icon-about-total-width: 85px
$icon-about-total-height: 71px
$icon-about-image: '../images/sprite.png'
$icon-about: (0px, 23px, 0px, -23px, 25px, 24px, 85px, 71px, '../images/sprite.png', 'icon-about', )
$icon-address-name: 'icon-address'
$icon-address-x: 52px
$icon-address-y: 0px
$icon-address-offset-x: -52px
$icon-address-offset-y: 0px
$icon-address-width: 19px
$icon-address-height: 25px
$icon-address-total-width: 85px
$icon-address-total-height: 71px
$icon-address-image: '../images/sprite.png'
$icon-address: (52px, 0px, -52px, 0px, 19px, 25px, 85px, 71px, '../images/sprite.png', 'icon-address', )
$icon-bh-name: 'icon-bh'
$icon-bh-x: 19px
$icon-bh-y: 47px
$icon-bh-offset-x: -19px
$icon-bh-offset-y: -47px
$icon-bh-width: 20px
$icon-bh-height: 12px
$icon-bh-total-width: 85px
$icon-bh-total-height: 71px
$icon-bh-image: '../images/sprite.png'
$icon-bh: (19px, 47px, -19px, -47px, 20px, 12px, 85px, 71px, '../images/sprite.png', 'icon-bh', )
$icon-email-name: 'icon-email'
$icon-email-x: 59px
$icon-email-y: 47px
$icon-email-offset-x: -59px
$icon-email-offset-y: -47px
$icon-email-width: 11px
$icon-email-height: 8px
$icon-email-total-width: 85px
$icon-email-total-height: 71px
$icon-email-image: '../images/sprite.png'
$icon-email: (59px, 47px, -59px, -47px, 11px, 8px, 85px, 71px, '../images/sprite.png', 'icon-email', )
$icon-fb-name: 'icon-fb'
$icon-fb-x: 71px
$icon-fb-y: 26px
$icon-fb-offset-x: -71px
$icon-fb-offset-y: -26px
$icon-fb-width: 8px
$icon-fb-height: 17px
$icon-fb-total-width: 85px
$icon-fb-total-height: 71px
$icon-fb-image: '../images/sprite.png'
$icon-fb: (71px, 26px, -71px, -26px, 8px, 17px, 85px, 71px, '../images/sprite.png', 'icon-fb', )
$icon-in-name: 'icon-in'
$icon-in-x: 52px
$icon-in-y: 25px
$icon-in-offset-x: -52px
$icon-in-offset-y: -25px
$icon-in-width: 17px
$icon-in-height: 17px
$icon-in-total-width: 85px
$icon-in-total-height: 71px
$icon-in-image: '../images/sprite.png'
$icon-in: (52px, 25px, -52px, -25px, 17px, 17px, 85px, 71px, '../images/sprite.png', 'icon-in', )
$icon-next-name: 'icon-next'
$icon-next-x: 71px
$icon-next-y: 56px
$icon-next-offset-x: -71px
$icon-next-offset-y: -56px
$icon-next-width: 9px
$icon-next-height: 12px
$icon-next-total-width: 85px
$icon-next-total-height: 71px
$icon-next-image: '../images/sprite.png'
$icon-next: (71px, 56px, -71px, -56px, 9px, 12px, 85px, 71px, '../images/sprite.png', 'icon-next', )
$icon-phone-name: 'icon-phone'
$icon-phone-x: 48px
$icon-phone-y: 47px
$icon-phone-offset-x: -48px
$icon-phone-offset-y: -47px
$icon-phone-width: 11px
$icon-phone-height: 8px
$icon-phone-total-width: 85px
$icon-phone-total-height: 71px
$icon-phone-image: '../images/sprite.png'
$icon-phone: (48px, 47px, -48px, -47px, 11px, 8px, 85px, 71px, '../images/sprite.png', 'icon-phone', )
$icon-prev-name: 'icon-prev'
$icon-prev-x: 39px
$icon-prev-y: 47px
$icon-prev-offset-x: -39px
$icon-prev-offset-y: -47px
$icon-prev-width: 9px
$icon-prev-height: 12px
$icon-prev-total-width: 85px
$icon-prev-total-height: 71px
$icon-prev-image: '../images/sprite.png'
$icon-prev: (39px, 47px, -39px, -47px, 9px, 12px, 85px, 71px, '../images/sprite.png', 'icon-prev', )
$icon-search-name: 'icon-search'
$icon-search-x: 28px
$icon-search-y: 24px
$icon-search-offset-x: -28px
$icon-search-offset-y: -24px
$icon-search-width: 21px
$icon-search-height: 21px
$icon-search-total-width: 85px
$icon-search-total-height: 71px
$icon-search-image: '../images/sprite.png'
$icon-search: (28px, 24px, -28px, -24px, 21px, 21px, 85px, 71px, '../images/sprite.png', 'icon-search', )
$icon-select-arrow-name: 'icon-select-arrow'
$icon-select-arrow-x: 79px
$icon-select-arrow-y: 26px
$icon-select-arrow-offset-x: -79px
$icon-select-arrow-offset-y: -26px
$icon-select-arrow-width: 6px
$icon-select-arrow-height: 4px
$icon-select-arrow-total-width: 85px
$icon-select-arrow-total-height: 71px
$icon-select-arrow-image: '../images/sprite.png'
$icon-select-arrow: (79px, 26px, -79px, -26px, 6px, 4px, 85px, 71px, '../images/sprite.png', 'icon-select-arrow', )
$icon-team-dr-name: 'icon-team-dr'
$icon-team-dr-x: 28px
$icon-team-dr-y: 0px
$icon-team-dr-offset-x: -28px
$icon-team-dr-offset-y: 0px
$icon-team-dr-width: 24px
$icon-team-dr-height: 24px
$icon-team-dr-total-width: 85px
$icon-team-dr-total-height: 71px
$icon-team-dr-image: '../images/sprite.png'
$icon-team-dr: (28px, 0px, -28px, 0px, 24px, 24px, 85px, 71px, '../images/sprite.png', 'icon-team-dr', )
$icon-team-fb-name: 'icon-team-fb'
$icon-team-fb-x: 71px
$icon-team-fb-y: 0px
$icon-team-fb-offset-x: -71px
$icon-team-fb-offset-y: 0px
$icon-team-fb-width: 14px
$icon-team-fb-height: 26px
$icon-team-fb-total-width: 85px
$icon-team-fb-total-height: 71px
$icon-team-fb-image: '../images/sprite.png'
$icon-team-fb: (71px, 0px, -71px, 0px, 14px, 26px, 85px, 71px, '../images/sprite.png', 'icon-team-fb', )
$icon-team-pn-name: 'icon-team-pn'
$icon-team-pn-x: 0px
$icon-team-pn-y: 47px
$icon-team-pn-offset-x: 0px
$icon-team-pn-offset-y: -47px
$icon-team-pn-width: 19px
$icon-team-pn-height: 24px
$icon-team-pn-total-width: 85px
$icon-team-pn-total-height: 71px
$icon-team-pn-image: '../images/sprite.png'
$icon-team-pn: (0px, 47px, 0px, -47px, 19px, 24px, 85px, 71px, '../images/sprite.png', 'icon-team-pn', )
$icon-team-tw-name: 'icon-team-tw'
$icon-team-tw-x: 0px
$icon-team-tw-y: 0px
$icon-team-tw-offset-x: 0px
$icon-team-tw-offset-y: 0px
$icon-team-tw-width: 28px
$icon-team-tw-height: 23px
$icon-team-tw-total-width: 85px
$icon-team-tw-total-height: 71px
$icon-team-tw-image: '../images/sprite.png'
$icon-team-tw: (0px, 0px, 0px, 0px, 28px, 23px, 85px, 71px, '../images/sprite.png', 'icon-team-tw', )
$icon-visit-name: 'icon-visit'
$icon-visit-x: 71px
$icon-visit-y: 43px
$icon-visit-offset-x: -71px
$icon-visit-offset-y: -43px
$icon-visit-width: 10px
$icon-visit-height: 13px
$icon-visit-total-width: 85px
$icon-visit-total-height: 71px
$icon-visit-image: '../images/sprite.png'
$icon-visit: (71px, 43px, -71px, -43px, 10px, 13px, 85px, 71px, '../images/sprite.png', 'icon-visit', )
$spritesheet-width: 85px
$spritesheet-height: 71px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($icon-about, $icon-address, $icon-bh, $icon-email, $icon-fb, $icon-in, $icon-next, $icon-phone, $icon-prev, $icon-search, $icon-select-arrow, $icon-team-dr, $icon-team-fb, $icon-team-pn, $icon-team-tw, $icon-visit, )
$spritesheet: (85px, 71px, '../images/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Here are example usages in HTML:
    `display: block` sprite:
      <div class="icon-home"></div>

    `display: inline-block` sprite:
      <img class="icon-home" />
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
